.speech{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: black;
    }
    .name{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    }
    .direction{
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: #ACDDDE;
    color: black;
    }
    .direction:hover{
        background-color: #5928E5;
        color: #fff;
    }
    .king{
    color: #5928E5;
    }
    .fred{
    color: #A57C00;
    }
    .ruth{
    color: darkgreen;
    }
    .mable{
    color: purple;
    }
    .sergeant{
    color: orangered;
    }
    .police{
    color: #583270;
    }
    .group{
    color: #B3B6E3;
    font-weight: bolder;
    font-size: 25px;
    }
    table,th,td{
        margin: 1px solid #ddd;
        border-collapse: collapse;
        width: 40%;
    }
    
    th {
        padding: 12px;
        text-align: left;
        background-color: #4C275C;
        color: white;
      }
      td{
        padding: 8px;
      }
      tr:nth-child(even){background-color: #f2f2f2;}
    
      .name:hover{
        border:2px dashed darkorange;
        text-shadow: 5px 5px 10px #00ff00; 
        
      }
      .name{
        padding: 5px;
      }
      ul {
        background-color: #4C275C;
        display: flex;
        padding: 10px;

    }
    li{
        list-style: none;
        padding-right: 15px;
    }
    li a{
        
        color: white;
        text-decoration: none;
    }
    li a:hover{
        color: darkred;
    }
          
    